.swal2-popup .swal2-styled.swal2-confirm{background-color: #28a745;}
.paypal-button.paypal-button-color-blue {
background: #3a6cff !important;
}
.btn_search, 
.btn_join,
.gnav-header .search-button-wrapper .btn-primary,
.input-group-append,
.badge-success,
.gnav-header .account-nav .count,
a.support-que,
.hero .search-box.focus .search-magnifier,
.proposal-reviews .active,
.btn-order.primary,
.bg-success,
.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link{
background: #3a6cff !important;
}
.mainHtml .btn-primary.btn-primary:active,
.mainHtml .btn-primary.btn-primary:hover,
.ds-reduced-colors .mainHtml .btn-primary.btn-primary:active,
.ds-reduced-colors .mainHtml .btn-primary.btn-primary:hover {
background: #3a6cff !important;
}
.breadcrumb a:before{
background: #3a6cff;
}
.border-success{
border-color:#3a6cff !important;
}
.btn-success{
border-color:#3a6cff;
background: #3a6cff;
} 
.btn-success:hover,
.btn-success:focus,
.btn-success:active{
border-color:#3a6cff;
background: #3a6cff !important;
}
.btn-success:active{
border-color:#3a6cff !important;
background: #3a6cff !important;
box-shadow: unset !important;
}
.view-proposals .btn-toggle.active {
background-color: #3a6cff !important;
}
.btn_join:hover{
background: #3a6cff !important;
border: 0px solid #3a6cff !important;
color:white !important;
}
.input-group-addon{
background-color: #e9ecef;
border: 1px solid #ced4da;
}
.input-group-append{
background: #3a6cff !important;
}
.input-group-append:hover{
background: #3a6cff !important;
}
.btn-order.primary {
-webkit-box-shadow: 0 2px 0 #3a6cff;
box-shadow: 0 2px 0 #3a6cff;
}
.cat-nav .top-nav-item.active {
/* border-bottom: 3px solid #3a6cff; */
border-bottom: none;
}
.text-success,
.card_user h4,
.timer h5,
.hero .search-box .search-magnifier,
.popup-support-wrap .breadcrumbs .fa-home,
.contacts-sidebar .active,
.page-link,
.proposal-unfavorite,
.dil{
color:#3a6cff !important;
}
.order-page .nav-link.active,
.order-page .seller-buyer-name {
color: #3a6cff !important;
}
.gnav-header #search-query:focus, 
.gnav-header #search-query:active{
border: 1px solid #3a6cff;
}
.btn-outline-success{
color:#3a6cff;
border-color:#3a6cff;
}
.btn-outline-success:hover{
background:#3a6cff;
border-color:#3a6cff;
}
.is-online {
border: 1px solid #3a6cff;
color: #3a6cff;
}
.card_user .get_btn {
border: 1px solid #3a6cff;
color: #3a6cff;
}
.btn-success:focus, .btn-success.focus{
box-shadow: none !important;
}
.card_user .get_btn:hover{
border-color: #3a6cff;
background: #3a6cff;
}
.page-item.active .page-link {
background-color: #3a6cff;
border-color: #3a6cff;
}

.carousel-item img,
.carousel-item video{
height: auto !important;
background-color: black;
}

/* new css added start */

.gnav-header .account-nav>li a {
   color: #767676;
}
a{
   color: #767676;
}
.cat-nav {
   background: #323232;
}
.cat-nav .top-nav-item a {
   padding: 5px 0;
   color: #ffffff;
}
.gnav-header .search-button-wrapper .btn-primary{
   width: 50px;
   height: 50px;
   border: none;
}
.gnav-header .search-button-wrapper .btn-primary i.fa.fa-search {
   font-size: 17px;
}

.gnav-header .account-nav>li{}
.gnav-header .account-nav>li .dropdown-menu{

}
.gnav-header .account-nav>li .dropdown-menu {
   border: none;
   border-radius: 0 0 4px 4px;
   right: 0;
   /* transform: none !important; */
}

.gnav-header .account-nav>li .dropdown-menu a.dropdown-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.gnav-header .account-nav>li .dropdown-menu a.dropdown-toggle::after{
   top: 10px;
}

.gnav-header .account-nav>li .dropdown-submenu{
   background-color: #f5f5f5;
}

.secTitle {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #ddd;
   padding-bottom: 10px;
   align-items: center;
}
.secTitle h2.float-left {
   font-size: 20px;
   margin: 0;
}

.tableContent{

}
.tableContent div#datatable_wrapper{

}
.dataTables_wrapper{}
.addBtn-Field a.btn {
   padding: 10px 20px;
   font-weight: normal;
   font-size: 12px;
   margin: 6px 0 0 0;
}

.tableContent div#datatable_wrapper {}

.dataTables_wrapper label {
   display: flex;
   flex-flow: row;
   align-items: center;
   grid-gap: 10px;
}
.dataTables_wrapper label select.form-control {
   width: auto;
}
.dataTables_wrapper > .row:first-child {
   background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(245, 246, 250) 20%, rgb(245, 246, 250) 80%, rgb(255, 255, 255) 100%);
}
.dataTables_wrapper.noFilters > .row:first-child{
   display: none;
}
.dataTables_wrapper > .row div.dataTables_filter {
   padding: 10px 0;
}
.dataTables_wrapper > .row div.dataTables_filter input{
   height: 42px;
   font-size: 13px;
}
.dataTables_wrapper > .row div.dataTables_filter label {
   margin: 0;
}
.tableContent table{
}




.tableContent table.table {
   font-size: 13px;
   border-spacing: 0 7px;
   border-collapse: separate;
}

.table thead th{
   font-size: 11px;
   color: #333333;
   text-transform: uppercase;
   display: table-cell;
   white-space: nowrap;
   background: #fff;
}
.table-striped tbody tr:nth-of-type(odd) {
   background-color: rgba(0,0,0,.05);
}

.tableContent table.table tbody tr td {
   vertical-align: middle;
   border-top: 1px solid #F5F6FA;
   border-bottom: 1px solid #F5F6FA;
   /* white-space: nowrap; */
}

.tableContent table.table tbody tr td:first-child {
   border-left: 1px solid #f5f6fa;
}

.tableContent table.table tbody tr td:last-child {
   border-right: 1px solid #f5f6fa;
}

.tableContent table.table th {
       padding: 15px 10px;
   font-size: 13px;
   font-weight: 600 !important;
   border: none;
}

.tableContent table.table tfoot {
   display: none;
}

.tableContent table.table tbody td .btn {
   font-size: 12px;
   padding: 10px 15px 10px;
   text-transform: uppercase;
   font-weight: 600;
}

.table-striped tbody tr:nth-of-type(odd) td {
   background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(even) td {
   background-color: #F5F6FA;
}

.onePress-icon.hamburger-icon.nav-icon {
   cursor: pointer;
   width: 25px;
   height: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.onePress-icon.hamburger-icon.nav-icon i {
   font-size: 21px;
}
.mainHtml #onePress-modal-container .onePress-icon i {
   font-size: 21px;
}
.mainHtml #onePress-modal-container .onePress-icon {
   width: 24px;
   height: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.gnav-header .account-nav>li .dropdown-menu{
   border-top: 3px solid #3a6cff;
}

.proposal-card-base.mp-proposal-card{
   -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.10);
   box-shadow: 0 0 15px 0 rgba(0,0,0,0.10);
}
.welcome-box .img-fluid {
   max-width: 100px;
   height: auto;
   border: 5px solid #f5f5f5;
   box-shadow: 0px 2px 3px 0px black;
   width: 85px;
   height: 85px;
   object-fit: cover;
}
.welcome-box .profileCardContent h5 {
   text-align: left;
}
div#demo3 .carousel-item img {
   height: 310px !important;
   object-fit: cover;
   width: 100%;
}
p.f-abt-desc {
   color: #bdbfc4;
   margin-top: 15px;
}
p.f-abt-desc span.bold {
    font-weight: 600;
    margin-right: 5px;
}
.footerAbout {
   border-right: 1px solid #4a4a4a;
   padding-right: 10px;
}
.footerLogo a {
   display: inline-block;
}

.footerLogo {
   margin-bottom: 20px;
}

.footerLogo a img {
   width: 140px;
   filter: brightness(0) invert(1);
}
footer ul li a{}
footer ul li a i{
   margin-right: 10px;
}
.welcome-box h5 {
   font-weight: 500;
   text-align: center;
   font-size: 13px;
}
.welcome-box h5 span {
   display: block;
   font-size: 20px;
   margin-top: 5px;
}
.card.bg-none {
   background: none;
   box-shadow: none;
}
.card.bg-none .card-body {
   box-shadow: none;
}

.wt-projectdetail-holder{
   width: 100%;
   padding: 30px;
   background: #fff;
   border-radius: 4px;
}

.wt-projectdetail-holder .card{
   padding: 0;
}
.wt-projectdetail-holder .card-header{
   padding: 0;
   background: no-repeat;
   box-shadow: none;
   border-bottom: none;
   margin-bottom: 15px;
}
.wt-projectdetail-holder .card-body{
   padding: 0;
   box-shadow: none;
}

.wt-projectdetail-holder h4 {
   font-size: 20px;
   font-weight: 400;
   margin: 0;
}

.wt-projectdetail-holder p {
   font-size: 14px !important;
   font-weight: 400 !important;
}

.wt-projectdetail-holder .proposal-reviews hr{
   margin-left: 0px !important;
   margin-right: 0px !important;
}

.proposal-tags-container:after{
   clear: both;
   content: "";
   display: block;
   width: 100%;
}
.proposal-reviews .reviews-list li:nth-child(2n+1) {
   background: #fafafa;
}
.wt-projectdetail-holder div#details, .wt-projectdetail-holder div#reviews {
   padding-top: 20px;
}

.wt-projectdetail-holder .carousel{}

.wt-projectdetail-holder .carousel .slide-left, .wt-projectdetail-holder .carousel .slide-right {
   background-color: #ffffff7a;
   position: absolute;
   z-index: 4;
   top: 50%;
   width: 30px;
   height: 60px;
   color: #ffffff;
   right: 20px;
   margin-top: -24px;
   text-align: center;
   opacity: 1;
   /* -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.15); */
   -webkit-box-shadow: none;
   box-shadow: none;
   border-radius: 0 30px 30px 0;
   font-size: 20px;
}

.wt-projectdetail-holder .carousel .slide-right {
   left: 0px;
}
.wt-projectdetail-holder .carousel .slide-left {
   right: 0px;
   border-radius: 30px 0 0 30px;
}

.wt-projectdetail-holder .carousel .slide-right i {
   font-size: 30px;
   position: relative;
   left: -4px;
}

.wt-projectdetail-holder .carousel .slide-left i{
   font-size: 30px;
   position: relative;
   left: 4px;
}
.proposal-sidebar .card-body {
   padding: 30px;
   box-shadow: none;
   border-radius: 4px;
}


/* post-service.php start */
#tabs{
 border:1px solid #ccc;
 border-top: 0px;
 border-right: 0px;
 border-left: 0px;
 background-color: white;
}

#tabs .nav-tabs {
 border-bottom: 0px;
}

#tabs .nav-tabs .nav-link:not(active) {
 border: 0px solid transparent;
 border-top: 4.2px solid transparent;
 border-bottom: 4px solid transparent;
 font-size: 15px;
 padding: 0.9rem 1.5rem;
 color: #999;
}


#tabs .nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
 border:0px;
 border-bottom: 3px solid #28a745 !important;
 color:black !important;
 border-radius: 0px;
}


.breadcrumb {
 background: none;
 overflow: hidden;
 border-radius: 5px;
 counter-reset: flag; 
}

.breadcrumb a {
 text-decoration: none;
 outline: none;
 display: block;
 float: left;
 font-size: 15px;
 line-height: 36px;
 color: black;
 padding: 0 10px 0 60px;
 position: relative;
}


.breadcrumb a:first-child {
 padding-left: 46px;
 border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
 left: 14px;
}
.breadcrumb a:last-child {
 border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
 padding-right: 20px;
}

.breadcrumb a:after {
   content: '\f054';
   font-family: "FontAwesome";
   position: absolute;
   right: -17px;
   font-size: 13px;
   right: -16px;
   width: 15px;
   top: 2px;
   height: 15px;
   z-index: 1;   
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
 content: none;
}
/*we will use the :before element to show numbers*/

.breadcrumb a:before {
 color: white;
 text-align: center;
 content: counter(flag);
 counter-increment: flag;
 border-radius: 100%;
 width: 20px;
 height: 20px;
 line-height: 20px;
 margin: 8px 0;
 position: absolute;
 top: 0;
 left: 30px;
 background: #323232;
 font-size: 14px;
}

.breadcrumb a.active:before {

 background: #3a6cff;

}
.breadcrumb a.active {
   color: #3a6cff;
}

.breadcrumb a.active:after {
   color: #323232;
}

.proposal-form .form-group{

 margin-bottom: 20px;

}

.proposal-form .form-control,
.table .form-control {

 border-radius: 0px;

}

.proposal-form textarea[name="proposal_title"]{

 font-size: 20px;

}

.proposal-form .form-group .col-md-3 {
 text-align: right;
 padding-top: 10px;
 font-size: 14px;
}

.table .form-control {

border:0px;
font-size: 14px;
resize: none;

}

.table .form-control:focus {
 border-color: none;
 outline: none;
 box-shadow: none;
}

.table th,
.table td{
font-size: 14px;
vertical-align: inherit !important;
font-weight: normal !important;
color: #62646a !important;
}

.table thead tr{

background: #F7F7F7;

}

.table thead tr th {
/* font-family: "Graphik Webfont", -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif; */
}

.table tbody tr td:first-child{
 /* width: 150px; */
 /* background: #F7F7F7; */

}

.table .delete-attribute{
   cursor: pointer;
   position: absolute;
   display: -webkit-box;
   margin-top: -22px;
   margin-left: 193px;
   color: black;
}


.table .form-control:focus+i {

display: none;

}

.proposal-form .requirements {

 background: #F7F7F7;
 padding: 10px;
 border: 1px solid #ccc;

}

.line-height-normal{

 line-height: 1.7;

}

.gallery .pic {
   margin-top: 11px;
   width: 100%;
   border:1px solid #ccc;
   align-self: center;
   text-align: center;
   padding: 22px 0;
   /*text-transform: uppercase;*/
   color: #848EA1;
   font-size: 12px;
   cursor: pointer;
}

.gallery .img {
   margin-top: 11px;
   width: 100%;
   border:1px solid #ccc;
   color: #848EA1;
   font-size: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   position: relative;
   overflow: hidden;

}
.gallery .img:nth-child(3n) {
 margin-right: 0;
}
.gallery .img span {
 display: none;
 text-transform: capitalize;
 z-index: 2;
}
.gallery .img::after {
 content: '';
 width: 100%;
 height: 100%;
 transition: opacity .1s ease-in;
 border-radius: 4px;
 opacity: 0;
 position: absolute;
}
.gallery .img:hover::after {
 display: block;
 background-color: #000;
 opacity: .5;
}
.gallery .img:hover span {
 display: block;
 position: relative;
 left: -75px;
 color: #fff;
 font-size: 15px;
}

.gallery .img:hover img {
 position: relative;
 left: 29px;
}

.gallery .pic .fa-trash{
 /*cursor: pointer;
 position: absolute;
 display: -webkit-box;
 margin-top: -60px;
 margin-left: 60px;
 left: 710px;*/

 margin-right: 22px;
 position: relative;
 float: right;
 margin-top: -52px;

}

@media(max-width: 767px){
 .proposal-form .form-group .col-md-3 {
   text-align: left;
   padding-top: 0px;
   margin-bottom: 5px;
 }
}
/* post-service.php end */


.form-control, select.form-control:not([size]):not([multiple]) {
   color: #999;
   outline: none;
   height: 50px;
   background: #fff;
   font-size: 14px;
   -webkit-box-shadow: none;
   box-shadow: none;
   line-height: 18px;
   padding: 10px 20px;
   border-radius: 4px !important;
   display: inline-block;
   vertical-align: middle;
   border: 1px solid #dbdbdb;
   text-transform: inherit;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

textarea.form-control{
   height: auto;
}

.btn {
   padding: 14px 20px;
   font-weight: 600;
}

select {
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}

nav#tabs.gig-tab-nav {
   margin-top: 30px;
   background: none;
   border-bottom: none;
}

nav#tabs.gig-tab-nav .breadcrumb a:first-child {padding-left: 20px;}

nav#tabs.gig-tab-nav .breadcrumb a {
   position: relative;
   padding: 0 20px;
   font-size: 13px;
}

nav#tabs.gig-tab-nav .breadcrumb a::before {
   left: 50%;
   transform: translateX(-50%);
   bottom: -40px;
   top: auto;
   font-size: 14px;
   font-weight: normal;
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: none;
   border: 1px solid #333;
   color: #333;
}

nav#tabs.gig-tab-nav .breadcrumb {
   padding: 10px 0 40px 0;
   text-align: center;
   display: flex;
   justify-content: center;
}

nav#tabs.gig-tab-nav .breadcrumb a::after {
   display: none;
}

nav#tabs.gig-tab-nav .breadcrumb a.active::before {
   background: #3a6cff;
   color: #fff;
   border: 1px solid #3a6cff;
}

.gnav-header .account-nav a{}
.gnav-header .account-nav a:hover{
   text-decoration: none !important;
}
.gnav-header .account-nav>li a{
   color: #767676;
}
.gnav-header .account-nav>li a.btn.btn_join {
   margin-left: 10px;
   color: #fff;
}
label.form-control-label.font-weight-bold {
   font-weight: normal !important;
}
.modal-header {
   background: #f5f6fa;
   color: #3a6cff;
   text-align: left;
   justify-content: center;
}
.modal-content{
   border-radius: 0;
   border: none;
}

.modal-header .close{

}
.modal-header .close {
   opacity: 1;
   right: -15px;
   top: -15px;
   position: absolute;
}

.modal-header .close span {
   display: inline-block;
   width: 30px;
   height: 30px;
   display: flex;
   background: #e4e4e4;
   opacity: 1;
   font-weight: normal;
   box-shadow: none;
   text-shadow: none;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 27px;
   border: 1px solid #fff;
}
.modal-body {
   max-height: calc(100vh - 115px);
   overflow: auto;
}

.modal-body::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
   background-color: transparent;
}

.modal-body::-webkit-scrollbar {
   width: 3px;
   background-color: #F5F6FA;
}

.modal-body::-webkit-scrollbar-thumb {
   background-color: #2A397D;
}

.mpRight {}
.mpLeft {}

.mpRight  .card {
   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
   border: 1px solid #e6e6e6 !important;
}
.mpRight .card-header {
   padding: 20px 20px;
   box-shadow: none;
   border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}
.mpRight .card-header h2 {
   font-size: 18px;
   margin: 0;
   color: #333;
}

.mpRight  .card-body{
   padding: 20px 20px;
 box-shadow: none;
}
label.col-form-label {
   text-align: right;
   align-items: center;
   justify-content: center;
   vertical-align: middle;
   padding-top: 13px;
}
.mpLeft .card-body {
   padding: 0;
   background: #fcfcfc;
}
.mpLeft .card-body .welcome-box {
   padding: 20px;
}
.mpLeft .card-body ul.nav.nav-pills {}
.mpLeft .card-body ul.nav.nav-pills  li.nav-item {}
.mpLeft .card-body ul.nav.nav-pills li.nav-item + li.nav-item {}
.mpLeft .card-body ul.nav.nav-pills li.nav-item a.nav-link {
   padding: 17px 30px;
   border-radius: 0;
}
.mpLeft .card-body ul.nav.nav-pills li.nav-item a.nav-link.active {
   background: #fff !important;
   color: #3a6cff;
   box-shadow: 4px 0 #3a6cff inset;
}
.mpRight .card-body h5 {
   font-size: 14px;
   background: #fafafa;
   padding: 20px 10px;
   margin: -10px 0 0 0;
}

.mpRight .proposal-card-base.mp-proposal-card {}

.mpRight .proposal-card-base.mp-proposal-card > a img {
   height: 160px;
   object-fit: cover;
}

.addBtn-Field{
}
.addBtn-Field a.btn {
   padding: 10px 20px;
   font-weight: normal;
   font-size: 12px;
   margin: 6px 0 0 0;
}

.dataTables_paginate {
   /* text-align: center; */
   padding: 10px 0 10px 0;
}

.dataTables_paginate .pagination {
   margin: 0px 0 0 0 !important;
   line-height: 0;
   /* background: rgb(239, 243, 249);
   background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(245, 246, 250) 20%, rgb(245, 246, 250) 80%, rgb(255, 255, 255) 100%);
   box-shadow: 0 0px 8px -8px #ccc; */
}

.dataTables_paginate .pagination {
   justify-content: flex-end;
}

.dataTables_paginate .pagination li.page-item {
   display: inline-flex;
   position: relative;
}

.dataTables_paginate .pagination li.page-item.previous, .dataTables_paginate .pagination li.page-item.next {
   top: 0px;
}

.dataTables_paginate ul.pagination li:before {
   width: 0%;
   height: 0%;
   background: #18295d;
   position: absolute;
   content: "";
   left: 50%;
   /* border: 1px solid #18295d; */
   border-radius: 50px;
   opacity: 0;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-transition: all .2s linear;
   -moz-transition: all .2s linear;
   -ms-transition: all .2s linear;
   -o-transition: all .2s linear;
   transition: all .2s linear;
}

.dataTables_paginate ul.pagination li:hover:before {
   /* width: 100%;
   height: 100%;
   opacity: 1; */
}

.dataTables_paginate .pagination li+li {
   /* border-left: 1px solid #f5f5f5; */
   margin-left: 5px;
}

.dataTables_paginate ul.pagination li .page-link {
   background: none !important;
   border: none !important;
   color: #646464;
   padding: 10px 12px;
   height: auto;
   line-height: 1.2;
   /* border-radius: 50px; */
   letter-spacing: 1px;
   display: inline-flex;
   font-size: 13px;
   justify-content: center;
   align-items: center;
   width: 35px;
   height: 35px;
   border-radius: 50px !important;
}

.dataTables_paginate ul.pagination li:hover .page-link {
   color: #18295d;
   font-weight: 600;
}

.dataTables_paginate ul.pagination li.page-item.active .page-link {
   z-index: 1;
   color: #fff;
   background: #18295D !important;
   border: #18295D !important;
   font-weight: 600;
}

.dataTables_paginate ul.pagination li.previous a, .dataTables_paginate ul.pagination li.next a {
   width: auto;
   display: inline-flex;
   font-size: 0;
}

.dataTables_paginate ul.pagination li.previous a:before, .dataTables_paginate ul.pagination li.next a:before {
   content: "";
   display: flex;
   font-family: fontawesome;
   font-size: 20px;
   justify-content: center;
   text-align: center;
   line-height: 0;
   top: 1px;
}

.dataTables_paginate ul.pagination li.previous a:before {
   content: "\f104";
}

.dataTables_paginate ul.pagination li.next a:before {
   content: "\f105";
}

.dataTables_paginate ul.pagination li.previous.disabled a, .dataTables_paginate ul.pagination li.next.disabled a {
   /* padding-left: 15px;
   padding-right: 5px; */
}

.dataTables_paginate ul.pagination li.previous:before, .dataTables_paginate ul.pagination li.next:before {
   display: none;
}

.dataTables_paginate ul.pagination li.previous:hover a, .dataTables_paginate ul.pagination li.next:hover a {
   color: #18295d;
}

.dataTables_paginate ul.pagination li.previous.disabled:hover a, .dataTables_paginate ul.pagination li.next.disabled:hover a {
   color: #626E82;
   font-weight: 400;
}

/* Landing page start */

.container.homepageContainer {
    /* width: 100%; */
    /* margin: 0; */
    /* padding: 0; */
}

.homeBanner{}
.homeBanner .owl-carousel .owl-dots{

}

.homeBanner .container.homepageContainer {
   width: 100%;
   padding: 0 0;
   margin: 0;
   /* max-width: 100% !important; */
}

div#demo1 .carousel-item img{
   /* height: 310px !important; */
   object-fit: cover;
   width: 100%;
}

#demo1 .carousel-item img:not(.srch2), #demo1 .carousel-item video{
   height: 450px !important;
}

#demo3 .carousel-indicators li, #demo3 .owl-dots button{
   width: 16px;
}

.homeFeatured{}
.homeFeatured{}
.homeFeatured .proposal-card-base{}
.homeFeatured .proposal-card-base a{
   display: inline-block;
}
.homeFeatured .proposal-card-base a img {
   height: 150px;
   object-fit: cover;
   width: 100%;
}
.homeFeatured .proposal-card-base .proposal-seller-info{
   background: #f5f5f5;
   padding-bottom: 7px;
   height: auto;
}

.categorieList {
    text-align: center;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}



.categorieList div[class*="col-md-"] {}
.categorieList div[class*="col-md-"] a {
    /* display: inline-block; */
    margin: 0 auto;
}
.categorieList div[class*="col-md-"] .grn_box {
    width: 100%;
    min-height: 255px;
    padding: 20px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    text-align: center;
    border: 1px solid #eff2f5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
}

.categorieList div[class*="col-md-"] .grn_box p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
}

.homeFeatured{
   padding:75px 0;
}

.homeFeatured h2 {
    text-align: center;
}

.homeFeatured h4 {
    font-size: 16px;
    color: #6d6e71;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.categorieList div[class*="col-md-"]:nth-child(4) ~ div[class*="col-md-"] {
    margin-top: 40px;
}

.bannerFormBox{
    background: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    position: relative;
    top: 20px;
}
.bannerFormBox input.form-control {
    border: none;
    border-radius: 0;
    height: auto;
}
.bannerFormBox input.form-control:focus {
   outline: none;
   box-shadow: none;
}
.bannerFormBox .input-group-append {
    background: none !important;
    border-left: 1px solid #ddd;
    border-radius: 0;
}

.popularService h1{ text-align: center; }
.popularService .cards .subHeading{ text-align: center; padding-bottom: 20px; }
.popularService .owl-theme .owl-dots .owl-dot span{
   margin: 0 0 0 -5px;
}
.popularService .owl-carousel .owl-nav button.owl-next:after{
   background: url('../images/svg/next.svg') no-repeat;
   background-size: 16px 64px;
}
.popularService .owl-carousel .owl-nav button.owl-prev:after{
   background: url('../images/svg/buttons.svg') no-repeat;
   background-size: 16px 64px;
}

/* +++++++++ */

/* Join Company Style */
.wt-companyinfohold{position: relative;background:#323232;}
.wt-companyinfohold:before,
.wt-companyinfohold:after{
   top: 0;
   content: '';
   width: 100%;
   height: 100%;
   opacity: 0.8;
   max-width: 397px;
   position: absolute;
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
.wt-companyinfohold:before{
   left: 0;
   background-image: url('../images/bg/img-01.jpg');
}
.wt-companyinfohold:after{
   right: 0;
   background-image: url('../images/bg/img-02.jpg');
}
.wt-companydetails{
   float: left;
   width: 100%;
   position: relative;
   z-index: 2;
}
.wt-companycontent{
   width: 50%;
   float: left;
   padding: 30px 40px;
   min-height: 400px;
   background:#f7f7f7;
   text-align: center;
   position: relative;
   display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
}
.wt-companydetails .wt-companycontent + .wt-companycontent:before{
   top: 0;
   left: -5px;
   width: 10px;
   height: 100%;
   content: '';
   background: #fff;
   position: absolute;
}
.wt-companyinfotitle{
   float: left;
   width: 100%;
}
.wt-companyinfotitle h2{
   font-size:28px;
   line-height: 30px;
   margin: 0 0 17px;
}
.wt-companycontent .wt-description{margin: 0 0 27px;}
.wt-companycontent .wt-description p{
   margin: 0;
   font-size: 16px;
   line-height: 26px;
}
/* Limitless Experience Style */
.wt-mobileimg{
   margin: 0;
   float: left;
   width: 100%;
}
.wt-mobileimg{
   width: 100%;
   display: block;
}
.wt-experienceholder{
   width: 100%;
   float: left;
   padding: 57px 0;
}
.wt-experienceholder .wt-sectiontitle{margin: 0 0 44px;}
.wt-experienceholder .wt-description p{
   font-size: 16px;
   line-height: 26px;
   margin: 0 0 26px;
}
.wt-experienceholder .wt-appicon{margin-top: 6px;}
.wt-appicon{
   float: left;
   width: 100%;
   list-style:none;
}
.wt-appicon li{
   float: left;
   width: auto;
   list-style-type: none;
}
.wt-appicon li + li{margin-left:30px;}
.wt-appicon li a{display: block;}
.wt-appicon li figure{
   margin: 0;
   float: left;
   width: 100%;
}
.wt-appicon li figure img{
   width: 100%;
   display: block;
}

/* Limitless Experience Style */
.wt-mobileimg{
   margin: 0;
   float: left;
   width: 100%;
}
.wt-mobileimg{
   width: 100%;
   display: block;
}
.wt-experienceholder{
   width: 100%;
   float: left;
   padding: 57px 0;
}
.wt-experienceholder .wt-sectiontitle{margin: 0 0 44px;}
.wt-experienceholder .wt-description p{
   font-size: 16px;
   line-height: 26px;
   margin: 0 0 26px;
}
.wt-experienceholder .wt-appicon{margin-top: 6px; padding:0; }
.wt-appicon{
   float: left;
   width: 100%;
   list-style:none;
}
.wt-appicon li{
   float: left;
   width: auto;
   list-style-type: none;
}
.wt-appicon li + li{margin-left:30px;}
.wt-appicon li a{display: block;}
.wt-appicon li figure{
   margin: 0;
   float: left;
   width: 100%;
}
.wt-appicon li figure img{
   width: 100%;
   display: block;
}
/* Inner Header Form Style */
.wt-headervtwo .wt-navigationarea .wt-logo{border-right: 1px solid #ddd;padding-right:30px; }
.wt-formbannervtwo{
   width: auto;
   margin: 13px 0 13px 30px;
}
.wt-formbannervtwo fieldset .form-group{
      -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.20);
   box-shadow: 0 0 10px 0 rgba(0,0,0,0.20);
   border-radius: 4px;
}
.wt-formbannervtwo fieldset .form-group .form-control{height: 50px;border:1px solid #ddd;font-size: 14px;}
.wt-formbannervtwo .wt-dropdown > span{line-height: 48px;font-size: 14px;}
.wt-formbannervtwo .wt-dropdown > span i,
.wt-formbannervtwo .wt-dropdown > span em{line-height: 48px;font-size: 14px;padding: 0;}
.wt-formbannervtwo .wt-dropdown > span em{height:auto;}
.wt-formbannervtwo .wt-searchbtn{
   width: 50px;
   line-height: 50px;
}
.wt-formbannervtwo .wt-radioholder .wt-radio input[type=radio] + label{font-size: 14px;}
/* Artcle Style */
/* Artcle Banner Style */
.wt-innerbannerholder{
   height: 300px;
   background-image: url(../images/bannerimg/img-02.jpg);
   background-size: cover;
    background-repeat: no-repeat;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-align-content: center;
   -ms-flex-line-pack: center;
   position: relative;
}
.wt-innerbannerholder:before{
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   content: '';
   position: absolute;
   background: rgba(50,50,50,0.40);
}
.wt-innerbannercontent{
   float: left;
   width: 100%;
   text-align: center;  
}
.wt-title{
   float: left;
   width: 100%;
}
.wt-title h2{
   display: block;
   font-size: 50px;
   font-weight: 700;
   line-height: 45px;
}
.wt-innerbannercontent .wt-title h2{color: #fff;}
.wt-articletabshold{
   float: left;
   width: 100%;
   display: block;
}
.wt-navarticletab{
   width: 100%;
   display: block;
   list-style:none;
   text-align: center;
   line-height: 20px;
   border-bottom: 1px solid #ddd;
}
.wt-navarticletab li{
   width: auto;
   display: inline-block;
   line-height: inherit;
   vertical-align: middle;
   list-style-type: none;
}
.wt-navarticletab li a{
   display: block;
   color: #767676;
   font-size: 16px;
   padding: 0 25px 15px;
   position: relative;
   line-height: inherit;
   font-family:'Poppins', Arial, Helvetica, sans-serif;
}
.wt-navarticletabvtwo{line-height: 69px;}
.wt-navarticletabvtwo li a{padding: 0 25px;}
.wt-navarticletab li a:after{
   left: 0;
   width: 0;
   content: '';
   bottom: -1px;
   z-index: 1;
   height: 2px;
   position: absolute;
}
.wt-navarticletab li a.active:after,
.wt-navarticletab li:hover a:after{width: 100%;}
.wt-articletabshold .wt-contentarticle{margin: 25px 0;}
.wt-contentarticle{
   float: left;
   width: 100%;
}
.wt-article{
   float: left;
   width: 100%;
    margin: 15px 0;
   position: relative;
   border-radius: 4px;
   padding-bottom: 110px;
}
.wt-article:hover{
      -webkit-box-shadow: 0 10px 20px 0 rgba(0,0,0,0.25);
   box-shadow: 0 10px 20px 0 rgba(0,0,0,0.25);
}
.wt-article figure{
   margin: 0;
   float: left;
   width: 100%;
   background:#323232;
   border-radius: 4px 4px 0 0;
}
.wt-article figure img{
   width: 100%;
   opacity: 0.80;
   display: block;
   border-radius: 4px 4px 0 0;
}
.wt-article:hover figure img{opacity: 0.4;}
.wt-articlecontent{
   left: 0;
   bottom: 0;
   float: left;
   width: 100%;
   padding: 30px;
   background:#fff;
   position: absolute;
   border-radius: 0 0 4px 4px;
}
.wt-articlecontent .wt-title h2{
   margin: 0;
   display: block;
   color: #323232;
   font-size: 18px;
   font-weight: 400;
   line-height: 28px;
}
.wt-classicaricle-holder .wt-articlecontent .wt-title h2{line-height: 22px;}
.wt-articlecontent .wt-postarticlemeta{margin-top:14px; }
.wt-postarticlemeta{
   width: 100%;
   float: left;
   font-size:13px;
   line-height:14px;
   list-style:none;
}
.wt-postarticlemeta li{
   width:auto;
   float:left;
   padding:0 12px;
   text-align:center;
   line-height:inherit;
   list-style-type:none;
}
.wt-postarticlemeta li:first-child{
   padding-left: 0;
}
.wt-postarticlemeta li + li{border-left:1px solid #adadad;}
.wt-postarticlemeta li i,
.wt-postarticlemeta li span{
   color:#999;
   display:inline-block;
   vertical-align:middle;
}
.wt-postarticlemeta li + li span {color: #55acee;}
.wt-postarticlemeta li i{margin:0 5px 0 0;}

.app-download-sec{
   padding:60px 0;
   background: #fff;
}
.gnav-header .search-input-wrapper #search-query{
   padding:15px 70px 15px 20px; 
   border: none;
}

.gnav-header .gnav-search-inner{}



/* +++++++++ */


/* Landing page End */

/* gig detail start */

.gigPlanType .tabs-header {
    border: none;
}

.gigPlanType .tab-content {}

.gigPlanType .tabs-header ul {
}

.gigPlanType .tabs-header ul li.nav-item {}

.gigPlanType .tabs-header ul li.nav-item a.nav-link {
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding: 20px 10px;
    background: #525252;
    color: #fff;
}

.gigPlanType .tabs-header ul li.nav-item a.nav-link.active {
   border: none !important;
   box-shadow: none;
   font-weight: 600;
   color: #3a6cff !important;
   background: #fff;
}


/* gig detail end */


@media only screen and (max-width: 768px){
 label.col-form-label{
   text-align: left;
 }
}